.screen {
    width: 34px;
    height: 16px;
    background-image: url('/assets/bg/bg.jpg');
    top: 32px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    background-size: cover;

    .scene {
        mix-blend-mode: multiply;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        height: 100%;
        align-items: end;
        justify-content: center;

        &>div {
            overflow: hidden;
            position: relative;

            img {
                image-rendering: pixelated;
                position: absolute;
                top: 0;
                animation: animate 1s steps(1, start) infinite;
            }
        }

        .ripWrap {
            width: 16px;
            height: 16px;
        }

        .propWrap {
            margin-top: auto;
            height: 8px;
            width: 8px;

            &.tub {
                position: absolute;
                z-index: 1;
            }

            .spacer {
                opacity: 0;
            }
        }

        .petWrap {
            &.bath {
                position: absolute;
                top: 1px;
                animation: none;
            }

            &.normal {
                animation: move 8s steps(4, start) infinite;
            }

        }

        .statusWrap {
            margin-bottom: auto;
            height: 8px;
            width: 8px;
        }

        .bgWrap {
            position: absolute;
            z-index: -1;
            height: 16px;
            width: 34px;
        }

    }
}

@keyframes move {
    0% {
        transform: translateX(0px) rotateY(0deg);
    }

    25% {
        transform: translateX(-8px) rotateY(0deg);
    }

    25.01% {
        transform: translateX(-8px) rotateY(180deg);
    }

    50% {
        transform: translateX(0px) rotateY(180deg);
    }

    75% {
        transform: translateX(8px) rotateY(180deg);
    }

    75.01% {
        transform: translateX(8px) rotateY(0deg);
    }

    100% {
        transform: translateX(0px) rotateY(0deg);
    }
}

@keyframes animate {
    0% {
        top: 0;
    }

    50% {
        top: -100%;
    }
}