.shell {
    width: 66px;
    height: 78px;
    background: url('/assets/shell/main_hq.png');
    position: relative;
    background-size: contain;
    transition: transform 0.1s ease;
    z-index: 1;

    .shell-image {
        position: absolute;
        top: 0;
        z-index: 1;
        pointer-events: none;
        width: 100%;
    }
}