.shell {
    width: 66px;
    height: 78px;
    background: url('/assets/shell/main_hq.png');
    position: relative;
    background-size: contain;
    transition: transform 0.5s ease;
    z-index: 1;

    .shadow {
        width: 36px;
        height: 35px;
        top: 23px;
        left: 15px;
        z-index: 1;
        position: absolute;
        background: linear-gradient(180deg, rgb(0 0 0 / 25%), transparent);
    }

    .shell-image {
        position: absolute;
        top: 0;
        z-index: 2;
        pointer-events: none;
        width: 100%;
    }
}