@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

.menu {
    background-color: #9ec3d8;
    position: absolute;
    width: 34px;
    box-sizing: border-box;
    margin: auto;
    font-size: 4px;
    right: 0;
    left: 0;
    padding: 1px 2px;
    height: 9px;
    line-height: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &.top {
        top: 23px;
        padding-top: 1px;

        div {
            display: flex;
            justify-content: center;
            padding-top: 0px;
            box-sizing: border-box;
            line-height: 0;
            align-items: center;
            border: 1px solid rgba(0, 0, 0, 0.15);
            color: rgba(0, 0, 0, 0.15);
            height: 6px;
            font-size: 8px;
            width: 6px;
            font-family: "Micro 5", sans-serif;
            transition: color 0.1s, border-color 0.1s;

            &.active {
                color: rgba(0, 0, 0, 1);
            }
        }
    }

    &.bottom {
        top: 48px;
        font-size: 6px;
        padding-bottom: 1px;
        padding-top: 0;

        .menu-icon {
            height: 6px;
            width: 6px;
            position: relative;

            .star {
                width: 8px;
                height: 8px;
                position: absolute;
                top: -1px;
                z-index: 0;
                left: -1px;
                background-color: #d8d27d;
                mask-image: url('/assets/shell/star.svg');
                mask-repeat: no-repeat;
                mask-position: center;
                mask-size: contain;
                transform: rotate(-10deg);
            }

            &:nth-of-type(even) .star {
                background-color: #d29d99;
            }

            svg {
                opacity: .25;
                transition: opacity 0.1s;
                transform: rotate(-10deg);
                position: relative;
                z-index: 1;
                margin-left: -1px;

                &.selected {
                    opacity: 1;
                }
            }
        }

    }
}